.buttonsContainer {
    display: flex;
    gap: 10px;
}

.responseContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imageContainer {
}

.image {
}

.textContainer {
}

.code {
}

.text {
}

.info {
}