.inputWrapper {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    color: blue;
}

.superInput {
}

.errorInput {
    border-color: red;
}

.error {
    color: red;
    font-size: 12px;
}
