.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
    border-bottom: solid gray 1px;
    padding: 10px 0;
}

.rowHeader {
    display: flex;
}

.loading {

}