.buttonsContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.clock {
    border-radius: 5px;
    border: 1px solid blue;
    max-width: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.active{
    background-color: #a19b9b;
}
.unActive{
    background-color: blue;
}
.watch {
}

.watch strong {
}

.more {
}