.item {
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
    display: flex;
    gap: 20px;
    max-width: 100%;
    justify-content: flex-end;
    margin: 20px 0;
}

.container {
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.thead {
    font-weight: bold;
    width: 100%;
    background-color: #a19b9b;
}

.nameCol {
}

.ageCol {
}