.button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.default {
    background-color: grey;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.secondary {
    background-color: blue;
    color: white;
}

.disabled {
    background-color: lightgrey;
    color: darkgrey;
    cursor: not-allowed;
}
